<!DOCTYPE html>
<!--

		 ______                           __                
		/\  _  \                         /\ \               
		\ \ \L\ \  _____      __      ___\ \ \___      __   
		 \ \  __ \/\ '__`\  /'__`\   /'___\ \  _ `\  /'__`\ 
		  \ \ \/\ \ \ \L\ \/\ \L\.\_/\ \__/\ \ \ \ \/\  __/ 
		   \ \_\ \_\ \ ,__/\ \__/.\_\ \____\\ \_\ \_\ \____\
		    \/_/\/_/\ \ \/  \/__/\/_/\/____/ \/_/\/_/\/____/
		             \ \_\                                  
		              \/_/                                  
                                                    
		       /'\_/`\                                      
		      /\      \     __    ____    ___     ____      
		      \ \ \__\ \  /'__`\ /',__\  / __`\  /',__\     
		       \ \ \_/\ \/\  __//\__, `\/\ \L\ \/\__, `\    
		        \ \_\\ \_\ \____\/\____/\ \____/\/\____/    
		         \/_/ \/_/\/____/\/___/  \/___/  \/___/     
		
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <meta name="description" content="">
		    <meta name="author" content="">

		    <!-- Le styles -->
		    <link href="{{ site.url }}assets/css/bootstrap.css" rel="stylesheet">
		    <link href="{{ site.url }}assets/css/bootstrap-responsive.min.css" rel="stylesheet">
		    <link href="{{ site.url }}assets/css/main.css" rel="stylesheet">
		
				<!-- Google Analytics Magic -->
				<script>
				  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				  ga('create', 'UA-20226872-1', 'apache.org');
				  ga('send', 'pageview');
				</script>
    </head>
    <body>			
			<!-- navbar excitement -->
	    <div class="navbar navbar-static-top">
	      <div class="navbar-inner">
	        <div class="container">
						<a href="{{ site.url }}" class="logo"><img src="{{ site.url }}assets/img/mesos_logo.png"></a>
	          <ul class="nav">
	            <li><a href="{{ site.url }}gettingstarted/">Getting Started</a></li>
	            <li><a href="{{ site.url }}documentation/">Documentation</a></li>
	            <li><a href="{{ site.url }}downloads/">Downloads</a></li>
	            <li><a href="{{ site.url }}community/">Community</a></li>
	          </ul>
	        </div>
	      </div>
	    </div><!-- /.navbar -->


      <div class="container">

			<!-- magical breadcrumbs -->
			<ul class="breadcrumb">
			  <li>
					<div class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Apache Software Foundation <b class="caret"></b></a>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="http://www.apache.org">Apache Homepage</a></li>
							<li><a href="http://www.apache.org/licenses/">License</a></li>
					  	<li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>  
					  	<li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
							<li><a href="http://www.apache.org/security/">Security</a></li>
					  </ul>
					</div>
				</li>
				<li><span class="divider">></span></li>
				<li><a href="http://incubator.apache.org/mesos/">Apache Mesos</a> <span class="divider">></span></li>
			</ul><!-- /breadcrumb -->

			{{content}}
			
	      <hr>

				<!-- footer -->
	      <div class="footer">
	        <p>&copy; 2012-2013 <a href="http://apache.org">The Apache Software Foundation</a>.
	        Apache Mesos, the Apache feather logo, and the Apache Mesos project logo are trademarks of The Apache Software Foundation.<p>
	      </div><!-- /footer -->

	    </div> <!-- /container -->

      <script type="text/javascript" src="{{ site.url }}assets/js/jquery-1.10.1.min.js"></script>
      <script type="text/javascript" src="{{ site.url }}assets/js/bootstrap-dropdown.js"></script>
    </body>
</html>
